.infotooltip__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.infotooltip__container {
  background-color: white;
  height: 330px;
  width: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.infotooltip__close{
  position: relative;
  justify-self: end;
  display: flex;
  align-self: flex-end;
  background-image: url("../images/Close.png");
  background-repeat: no-repeat;
  border: none;
  background-color: #54545400;
  width: 40px;
  height: 40px;
  transform: rotate(0deg);
}

.infotooltip__text{
    max-width: 350px;
    font-size: 25px;
    font-weight: 900;
     text-align: center;
}