html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
}

.page {
  min-height: 100vh;      
  display: flex;
  flex-direction: column; 
  color: white;
}

.main {
  flex: 1;                
  max-width: 880px;
  width: 100%;
  margin: 40px auto 0;    
}

.footer {
  padding: 20px;
  text-align: center;
}
