.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0;
  padding: 0;
  flex-direction: column;
}


.popup__content_content_image {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.popup__content {
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 36px 34px 36px 34px;
  width: 400px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: url("../images/Close.png") no-repeat center;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.popup__button {
  position: relative;
  top: 30%;
  width: 430px;
}

.popup__title {
  color: black;
  margin: 0 0 54px 0;

  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  max-width: 330px;
}


@media (max-width: 800px) {
  .popup__button-close {
    left: 0;
  }

  .popup__card {
    top: 30%;
    background-color: white;
    max-width: 430px;
    width: 100%;
    margin: auto;
    padding-top: 34px;
    padding-bottom: 36.51px;
    padding-left: 36px;
    border-radius: 10px;
  }

  .popup__button {
    position: relative;
    top: 30%;
    width: 430px;
    margin: auto;
  }
}

@media (max-width: 320px) {


  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    padding: 0;
    margin: 0;
    max-width: none;
  }

    .popup__card {
    background-color: white;
    width: 100%;
    max-width: 282px;
    justify-content: center;
    padding: 25px 22px;
    box-sizing: border-box;
    top: 123px;
  }

    .popup__title {
    color: black;
    margin: 0 0 54px 0;
    width: 100%;
    width: 238px;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
  }

    .popup__button {
    position: relative;
    top: 5%;
    width: 280px;
    margin: auto;
  }

    .popup__button-close {
    position: relative;
    left: 0;
    width: 26px;
    height: 26px;
    margin-bottom: 13.62px;
    background-size: cover;
    top: 72.62px;
  }


}